[Desktop Entry]
Version=1.0
Type=Application
Name=TikTok Live Analyser
Comment=Analyse TikTok Live streams in real-time
Exec=/home/soufiane/Bureau/TikTok\ Live\ Analyser\ /start-app.sh
Icon=applications-internet
Terminal=true
Categories=Network;Development;
StartupNotify=true